@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;800&display=swap");

:root {
  --primaryColor: black;
  --secondaryColor: ;
  --regular: 18px;
}

* {
  font-family: "Tillana", cursive;
  font-size: var(--regular);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

a:hover {
  color: var(--primaryColor);
}

li {
  list-style: none;
}

header {
  align-items: center;
  background-image: url("./images/2.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.top-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  color: var(--primaryColor);
  font-size: 24px;
}

.top-right-header {
  display: flex;
  align-items: center;
}

.header-navbar {
  width: 100%;
  height: 30px;
}

.header-navbar ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-navbar ul li {
  width: 160px;
  text-align: center;
}

.underlined {
  position: relative;
  font-weight: 800;
  transition: 0.5s ease;
  padding: 3px 10px;
}

.underlined::before {
  content: "";
  position: absolute;
  left: 50%;
  background: var(--primaryColor);
  width: 0;
  height: 2px;
  bottom: 0;
  transition: 0.5s ease;
}

.underlined:hover:before {
  position: absolute;
  width: 50%;
  height: 2px;
}

.underlined::after {
  content: "";
  position: absolute;
  right: 50%;
  background: var(--primaryColor);
  width: 0;
  height: 2px;
  bottom: 0;
  transition: 0.5s ease;
}

.underlined:hover:after {
  position: absolute;
  width: 50%;
  height: 2px;
}

.language-section {
  display: flex;
  margin-left: 1em;
}

.language-section img {
  width: 32px;
  height: 24px;
  margin: 0 0.5em;
  transition: 0.5s ease;
}

.language-section img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* ---------- Apartment ---------- */
#apartment {
  background: white;
  min-height: 100vh;
  padding: 2em 4em;
  position: relative;
  overflow: hidden;
}

#apartment h1 {
  font-size: 60px;
  text-align: center;
}

.services-list {
  display: block;
}

.service {
  padding: 3em 0;
  display: flex;
}

.service-description {
  flex-basis: 55%;
  width: 100%;
  font-size: 20px;
}

.service-description:nth-child(1) {
  text-align: right;
  padding-right: 6em;
}
.service-description:nth-child(2) {
  text-align: left;
  padding-left: 6em;
}
.service-description:nth-child(3) {
  text-align: right;
  padding-right: 6em;
}
.service-description h2 {
  color: white;
  padding-bottom: 1em;
}

.service-images {
  flex-basis: 45%;
  width: 100%;
  height: 50vh;
  position: relative;
}

.service-images img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.5s;
}

/* ---------- resort ---------- */

#resort {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2em 4em;
  flex-wrap: wrap;
}

#resort h1 {
  font-size: 60px;
  text-align: center;
}

.info-tabs {
  padding: 0 1em;
  justify-content: center;
}

.info-tabs .tab-titles {
  width: 80%;
  display: flex;
  height: 4em;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.info-tabs .tab-titles .tab-link {
  color: rgb(88, 88, 88);
  min-width: 3.2em;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease-in-out;
}

.info-tabs .tab-titles .tab-link.active {
  font-size: 24px;
}

.info-tabs .tab-titles .tab-link:hover,
.info-tabs .tab-titles .tab-link.active {
  color: var(--primaryColor);
}

.info-tabs .tab-titles .tab-link::before {
  content: "";
  position: absolute;
  left: 50%;
  background: var(--primaryColor);
  width: 0;
  height: 3px;
  bottom: -1px;
  transition: 0.5s ease;
}

.info-tabs .tab-titles .tab-link:hover::before,
.info-tabs .tab-titles .tab-link.active:before {
  position: absolute;
  width: 60%;
  height: 3px;
}

.info-tabs .tab-titles .tab-link::after {
  content: "";
  position: absolute;
  right: 50%;
  background: var(--primaryColor);
  width: 0;
  height: 3px;
  bottom: -1px;
  transition: 0.5s ease;
}

.info-tabs .tab-titles .tab-link:hover::after,
.info-tabs .tab-titles .tab-link.active:after {
  position: absolute;
  width: 60%;
  height: 3px;
}

.tab {
  display: flex;
  padding: 1em 0;
  gap: 2em;
}

.info-tabs .tab-content {
  display: none;
  padding-top: 2em;
  flex-basis: 40%;
}

.info-tabs .tab-content.active {
  display: block;
}

.resort-slider-container {
  width: 100%;
  height: 60vh;
  flex-basis: 60%;
}

.map {
  display: none;
}

.map {
  width: 100%;
  height: 100%;
}

.img-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.img-slider img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.img-slider img:hover {
  transform: scale(1.1);
}

.img-slider button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  background: none;
  outline: none;
  border: none;
  color: silver;
  cursor: pointer;
}

.prev-slide-btn {
  left: 1em;
}

.next-slide-btn {
  right: 1em;
}

.img-slider button i {
  font-size: 3em;
  transition: all 0.3s ease-in-out;
}

.img-slider button:hover i {
  color: white;
}

/* ---------- kopaonik ---------- */

#kopaonik {
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 30px 50px;
  text-align: center;
}

#kopaonik h1 {
  font-size: 60px;
}

/* .full {
  position: fixed;
  background: rgba(192, 192, 192, 0.8);
  width: 100%;
  height: 100%;
  z-index: 98;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.full .full-img-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 95%;
}

.full .full-img-slider .fa-solid {
  position: absolute;
  cursor: pointer;
}

.full .full-img-slider .fa-solid.fa-xmark {
  top: 0.1em;
  right: 0.1em;
}

.full .full-img-slider .fa-solid.fa-arrow-left {
  left: -1.5em;
}

.full .full-img-slider .fa-solid.fa-arrow-right {
  right: -1.5em;
}

.full .full-img-slider img {
  width: 100%;
  height: 100%;
  opacity: 1;
} */

/* ---------- reservation ---------- */

#reservation {
  background-color: aqua;
  width: 100%;
  min-height: 100vh;
  padding: 30px 50px;
  text-align: center;
}

#reservation h1 {
  font-size: 60px;
}

.reserve-form {
  display: grid;
  justify-content: center;
  align-items: center;
}

.stay-time::placeholder {
  text-align: center;
}

.datepicker {
  width: 100%;
  display: flex;
  gap: 3em;
}

.calendar-month {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.calendar-month i {
position: absolute;
cursor: pointer;
transition: .3s;
}

.calendar-month i:hover {
  transform: scale(1.3);
}

.current-month i {
  display: none;
  left: 1em;
}

.next-month i {
  right: 1em;
}

table {
  border-collapse: collapse;
}

thead {
  border: 1px solid black;
}

.calendar-date {
  cursor: pointer;
  letter-spacing: .1em;
  padding: 0.8em;
  border-radius: .2em;
}

.calendar-date:hover {
  background: rgb(190, 190, 190);
}

/* ---------- contact ---------- */

#contact {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 3em 5em;
}

#contact h2 {
  margin-bottom: 0.8em;
  border-bottom: 2px solid black;
  padding: 0 1em;
  text-align: center;
}

.footer-navbar ul li {
  text-align: center;
  padding: 0.1em;
}

.phone,
.email {
  display: flex;
  justify-content: start;
  align-items: center;
}

.phone p,
.email p {
  font-weight: 600;
}

.newsletter {
  margin-bottom: 2em;
}

.newsletter form {
  text-align: center;
  width: 120%;
  height: 100%;
  position: relative;
  display: flex;
}

.newsletter input[type="email"] {
  width: 100%;
  background: transparent;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  padding: 0.5em 0.8em;
  font-size: 18px;
}

.newsletter label {
  display: none;
  position: absolute;
  top: -0.8em;
  left: 1em;
  background: transparent;
  text-transform: capitalize;
  font-size: 18px;
  padding: 0 0.3em;
  opacity: 0;
}

.newsletter input[type="email"]:is(:focus) ~ label {
  display: block;
  opacity: 1;
  background: white;
}

.newsletter input[type="email"]:focus::placeholder {
  color: transparent;
}

.newsletter button {
  border: none;
  background: transparent;
}

.social-media {
  text-align: center;
}

.copyright {
  background: black;
  text-align: center;
  color: white;
}
