@import url("https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;800&display=swap");

:root {
  --primaryColor: black;
  --secondaryColor: ;
}

* {
  font-family: "Tillana", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: white;
  position: relative;
}

a {
  text-decoration: none;
}

header {
  align-items: center;
  background-image: url("./images/2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.top-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  color: var(--primaryColor);
  font-size: 24px;
}

.top-right-header {
  display: flex;
  justify-content: space-between;
}

.header-navbar {
  width: 100%;
  height: 30px;
}

.header-navbar ul {
  display: flex;
  justify-content: space-around;
}

.header-navbar ul li {
  list-style: none;
  width: 160px;
  text-align: center;
}

.header-navbar ul a {
  position: relative;
  font-weight: 800;
  color: rgb(88, 88, 88);
  transition: 0.5s ease;
  padding: 5px 10px;
}

.header-navbar ul a:hover {
  color: var(--primaryColor);
}

.header-navbar ul a::after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--primaryColor);
  width: 0;
  height: 3px;
  bottom: 0;
  transition: 0.5s ease;
}

.header-navbar ul a:hover:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
}

.language-section {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-items: space-around;
  padding-bottom: 20px;
}

.language-section img {
  width: 32px;
  height: 24px;
  margin: 0 0.5em;
  transition: 0.5s ease;
}

.language-section img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.social-icons {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25vh 20px;
}

.social-icons a img {
  margin: 10px 0;
  width: 80px;
  height: 80px;
  opacity: 0.6;
}

.social-icons a img:hover {
  opacity: 1;
}

/* ---------- Apartment ---------- */

#apartment {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px 50px;
}

.info-tabs {
  padding: 60px 20px 60px 0;
  flex-basis: 40%;
}

.info-tabs h1 {
  font-size: 60px;
}

.info-tabs .tab-titles {
  display: flex;
  margin: 20px 0 40px;
  list-style: none;
}

.info-tabs .tab-titles .tab-links {
  color: rgb(88, 88, 88);
  margin-right: 100px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.info-tabs .tab-titles .tab-links:hover {
  color: var(--primaryColor);
}

.info-tabs .tab-titles .tab-links.active {
  color: var(--primaryColor);
}

.info-tabs .tab-titles .tab-links::after {
  content: "";
  position: absolute;
  left: 0;
  background: var(--primaryColor);
  width: 0;
  height: 3px;
  bottom: -1px;
  transition: 0.5s ease;
}

.info-tabs .tab-titles .tab-links.active:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
}

.info-tabs .tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.info-tabs .tab-contents ul li span {
  color: var(--primaryColor);
  font-size: 22px;
  font-weight: 600;
}

.info-tabs .tab-contents {
  display: none;
}

.info-tabs .tab-contents.active {
  display: block;
}

.img-slider {
  display: none;
  flex-basis: 60%;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.img-slider.active {
  display: flex;
}

.img-slider .slide {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  clip-path: circle(0% at 0 100%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 0%);
  transition: 2.5s ease;
  transition-property: clip-path;
}

.img-slider .slide-navigation {
  z-index: 0;
  position: absolute;
  display: flex;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .slide-navigation .slide-navigation-btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.img-slider .slide-navigation .slide-navigation-btn:hover {
  background: rgba(255, 255, 255, 1);
}

.img-slider .slide-navigation .slide-navigation-btn.active {
  background: rgba(255, 255, 255, 1);
}

/* ---------- resort ---------- */

#kopaonik {
  background-color: brown;
  width: 100%;
  height: 100vh;
  padding: 30px 50px;
  text-align: center;
}

#kopaonik h1 {
  font-size: 60px;
}

.info-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.info-cards div {
  background: silver;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.info-cards div:hover {
  background: rgb(255, 34, 34);
  transform: translateY(-10px);
}

.info-cards div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.info-cards div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.info-cards div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
